asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-filter
drf-spectacular
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
mysqlclient
pandas
scikit-learn
joblib
requests
ulid-py
gunicorn
python-whois
tldextract
coverage
qrcode
pyotp
coolname
mnemonic
google-genai
beautifulsoup4